.idea
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
__pycache__/
*.py[cod]
*$py.class
/venv/
/darkflow/
/darknet/custom_data/labels/

/darknet/darknet53.conv.74
/darknet/yolov3.weights
/darknet/
/utils/model/models/
/utils/model/
/utils/letter_model.h5
